Package: sabai-vpna
Version: 007
Priority: extra
Architecture: any
Depends: bash, apache2, pptpd, pptp-linux, openvpn, ipset, php5, mcrypt, php5-mcrypt, libmcrypt-dev, isc-dhcp-client, squid3
Maintainer: Kirk Fort <kirk@sabaitechnology.com>
Description: Sabai VPNA package.
