Package: sabai-vpna
Version: 2.0
Priority: extra
Architecture: amd64
Depends: bash, apache2, pptpd, pptp-linux, openvpn, ipset, php5, mcrypt, php5-mcrypt, libmcrypt-dev, isc-dhcp-client, squid3, ntp
Maintainer: William Haynes <william@sabaitechnology.com>
Description: Sabai VPNA package.
